@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nav {
    display: inline-block;
    padding: 3px;
    background-color: white;
}

.nav:hover {
    background-color: yellowgreen;
}

body {
    font-family: 'Nanum Barun Gothic', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h1 {
    padding: 9px;
}

h2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 6px;
}

h3 {
    padding: 3px;
    text-decoration: underline;
    text-underline-position: under;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
